<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
	<bean id="autoClearEtlExportTask" class="com.bosssoft.asset.etl.task.AutoClearEtlExportTask"/>
	
	<!--配置调度具体执行的方法-->  
	<bean id="autoClearEtlTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="autoClearEtlExportTask" />
		<property name="targetMethod" value="executeTask" />
		<property name="concurrent" value="false" />
	</bean>
	
	<!--配置调度执行的触发的时间-->
	<bean id="autoClearEtlTaskTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="autoClearEtlTask" />
		<property name="cronExpression" value="${etl.auto.clear.task.timing:0 0 0 ? * SUN}" />
	</bean>
	
	<!-- quartz的调度工厂 调度工厂只能有一个，多个调度任务在list中添加 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<!-- 所有的调度列表-->
				<ref local="autoClearEtlTaskTrigger" />
			</list>
		</property>
	</bean>
</beans>