i.btn-add{
  background-image: url(images/icons2.png);
  background-position: 0px 0px;
  width: $i-btn-width;
  height: $i-btn-height;
}
i.btn-allot{
  background-image: url(images/icons2.png);
  background-position: -21px 0px;
  width: $i-btn-width;
  height: $i-btn-height;
}
i.btn-change{
  background-image: url(images/icons2.png);
  background-position: 0px -21px;
  width: $i-btn-width;
  height: $i-btn-height;
}
i.btn-delete{
  background-image: url(images/icons2.png);
  background-position: -21px -21px;
  width: $i-btn-width;
  height: $i-btn-height;
}
i.btn-detail{
  background-image: url(images/icons2.png);
  background-position: -42px 0px;
  width: $i-btn-width;
  height: $i-btn-height;
}
i.btn-edit{
  background-image: url(images/icons2.png);
  background-position: -42px -21px;
  width: $i-btn-width;
  height: $i-btn-height;
}
i.btn-export{
  background-image: url(images/icons2.png);
  background-position: 0px -42px;
  width: $i-btn-width;
  height: $i-btn-height;
}
i.btn-print{
  background-image: url(images/icons2.png);
  background-position: -21px -42px;
  width: $i-btn-width;
  height: $i-btn-height;
}
i.btn-search{
  background-image: url(images/icons2.png);
  background-position: -42px -42px;
  width: $i-btn-width;
  height: $i-btn-height;
}
