/*
skins.css 覆盖
 */
$menu-width:190px;
$nav-height:70px;
.skin-blue {
  .main-header{
    border:0px;
    z-index: 811;
  }
  .main-sidebar, .left-side {
    width: $menu-width;
    height: 1000px;
    // border-right: 1px solid #cbcbcb;
    // padding-top: $nav-height; 
  }
  .main-sidebar {
    // background: #62a9f1;
    background: #ffffff;
    .sidebar{
      padding-top: 0px;
    }
  }
  .content-wrapper{
    margin-left: $menu-width;
    border-left: 1px solid $skin-bordercolor;
  }


  .main-header {

    .app-list {
      position: relative;
      width: auto;
      top: 0;
      overflow: hidden;
      overflow-x: auto;
      height: $nav-height;
      float: left;
      padding-top: 0px;
    }
  }
  .sidebar-menu{
    width: $menu-width;
    margin: 0 auto;
  }
  //左侧菜单
  .sidebar-menu > {
    li>a{
      border: 0px !important;
    }
    li:hover > a, li.active > a {
      border-left-color: #00811C;
    }
    li > a > i {
      vertical-align: middle;
    }
    li.active > a.single, li:hover > a.single, li > a.single {
      background: transparent url(images/skins/single-menu.png) 0px 0px no-repeat;
    }
    li.active > a.first, li:hover > a.first, li > a.first {
      background: transparent url(images/skins/first-menu.png) 0px 0px no-repeat;
    }
    li.active > a.last, li:hover > a.last, li > a.last {
      background: transparent url(images/skins/last-menu.png) 0px 0px no-repeat;
    }
    li.active > a, li:hover > a, li > a {
      background: transparent url($cover-theme-path+"menu/common-menu-bg.png") 0px 0px repeat-x;
      height: 40px;
      line-height: 40px;
      width: $menu-width;
      color: #000;
      font-size: 14px;
      cursor: pointer;
      display: block;
      text-decoration: none;
      padding: 0px 0px 0px 10px;
    }
    li > a:hover {

    }
    .treeview {
        .menu-icon{
            width: 32px;
            height: 24px;
            margin: 0px 17px 0px 0px;
            position: static;
        }
    }
    li > .treeview-menu {
        background: #EAE7EE;
        // width: 172px;
        width: $menu-width;
        margin: 0px;
        padding-left: 0px;
        li > a {
            padding: 5px;
            color: #000;
            cursor: pointer;
            text-align: center;
        }
        li.menu-child-selected > a{
            color: $menu-hover-color;
            border-right: 5px solid $skin-bgcolor;
            font-size: 15px;
            font-weight: normal;
            background-color: $menu-hover-bgcolor ;
        }
    }

  }
}


.home-navbar {
  .home-name:hover {
    text-decoration: none;
    color: #ffffff;
  }
  // background-color: #62a9f1;
  background-color: $skin-bgcolor;
  // background: url(images/skins/nav-back-line.png) repeat-x;
  -webkit-transition: margin-left .3s ease-in-out;
  -o-transition: margin-left .3s ease-in-out;
  transition: margin-left .3s ease-in-out;
  margin-bottom: 0;
  border: none;
  min-height: $nav-height;
  border-radius: 0;

  .home-name {
    color: #ffffff;
    border-bottom: 0 solid transparent;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: $nav-height;
    font-size: 20px;
    line-height: 65px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 0 0 15px;
    font-weight: 300;
    overflow: hidden;
    text-decoration: none;

    .text {
      display: inline-block;
      font-weight: bold;
      text-shadow: 2px 2px 4px #000;
      background: url(images/gov-logo.png) no-repeat 0px 17px;
      padding-left: 34px;
      strong {
        font-size: 30px;
        padding-left: 3px;
      }
      .version{
        font-size: 17px;
        position:relative;
        top: 3px;
        left: 0px;
      }
    }

  }
  //应用菜单
  .app-list ul {
    height: $nav-height !important;
    li.selected {
      // background: url(images/skins/app-selected.png) 0px -2px no-repeat
      background-color: #FFF;
      span{
      color: $skin-bgcolor;

      }
    }

    li {
      list-style: none;
      background: none;
      float: left;
      position: relative;
      // margin-left: 12px; 
      cursor: pointer;
      font-weight: bold;
      text-align: center;
      height: 30px;
      line-height: 30px;
      position: relative;
      top: 40px;
      padding:0 5px;
      span { 
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        font-family: 微软雅黑, verdana;
        font-size: 15px;
        color: #ffffff;
        margin-top: 0px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

  }
  .navbar-custom-menu {
    color: #fff !important;
    font-size: 12px !important;;
    line-height: 26px;
    position: absolute;
    top: 0px;
    right: 0px;
    div{
      padding: 0px;
    }
    a,a:hover,a:active{
      text-decoration: none;
      color: #fff;
    }
    .time{
      padding-right: 0px;
    }
    .nav-exit{
      cursor: pointer;
      width: 56px;
      display: inline-block;
      /* background: url(images/skins/home-right-split-line.png) no-repeat; */
      padding: 0px;
      border-left: 1px solid #FFFFFF;
      height: 70px;
      line-height: 27px;
      i{
        height: 19px;
        padding-top: 10px;
      }
    }
    .nav-exit:hover{
      color: orange;
    }
    .width-25{
      display: inline-block;
    }
  }
  .nav-info{
    color: #fff !important;
    display: inline-block;
    padding-right: 10px;
    padding-top: 5px;
    position: absolute;
    top: 0px;
    right: 56px;
    .user-focus{
      cursor: pointer;height: 10px;margin: 0px;padding: 0px;
    }
    .user-focus:hover{
      color: orange;
    }
    .org-info{
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      i.fa-sort-desc{
        vertical-align: 1px;
        width: 12px;
      }
    }
    .org-info:hover{
      color: orange;
    }
    .user{
      margin-left: 6px;
      border-left: 1px solid #12669B;
      padding-left: 10px;
    }
    .personal-info{
      cursor: pointer;
      @at-root &:hover{
        color: orange;
      }
      i{
        width: 11px;
      }
    }
    .time{
      margin-left: 6px;
      border-left: 1px solid #12669B;
      padding-left: 10px;
    }
  }


}



